spring:
  application:
    name: ecommerce

  datasource:
    url: jdbc:postgresql://localhost:5432/e-commerce
    username: postgres
    password: NewPassword123
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
